# dist: xenial
# group: edge???
# group: travis_latest
language: cpp
compiler:
  - clang
  # - gcc


env:
  global:
  - PREFIX=/tmp/local
  - INSTALL_TOP=$PREFIX
  # - PKG_CONFIG_PATH=$PREFIX/lib/pkgconfig
  - LUA_VERSION=lua-5.3.4
  - LUAROCKS_VERSION=luarocks-2.4.4
  # - PATH=$(pwd)/$LUA_VERSION/src:$PATH
  - PATH=$PREFIX/bin:/home/travis/build/travis-util/lua-building/$LUA_VERSION/install/bin:$PATH


addons:
  apt:
    packages:
    - elinks # For dysplaying php files on console.# addons:


before_install:
- pwd
- make --version # Waiting for version 4.0 to be able to use --output-sync=recurse
# https://www.gnu.org/software/make/manual/html_node/Parallel-Output.html
- pip install --user psutil
- JOBS="$(python -c 'import psutil ; print len(psutil.Process().cpu_affinity())')" # 2 jobs at a time in make


install:
- wget --quiet https://www.lua.org/ftp/$LUA_VERSION.tar.gz
- tar --gzip --extract --file=$LUA_VERSION.tar.gz
- cd $LUA_VERSION
- ls --color
- find . -name luaconf.h
- cat README
- cat Makefile
- elinks -dump-color-mode 4 -dump doc/readme.html
- make linux --jobs=$JOBS && make test --jobs=$JOBS && make install INSTALL_TOP=$PREFIX
- ls --color
- find $PREFIX -name lua
- cd ..

- wget --quiet https://luarocks.org/releases/$LUAROCKS_VERSION.tar.gz
- tar --gzip --extract --file=$LUAROCKS_VERSION.tar.gz
- cd $LUAROCKS_VERSION
- ls --color
- ./configure --help
- ./configure --prefix=$PREFIX
# - make build && make install
- make bootstrap
# --jobs=$JOBS
- ls --color $PREFIX
- ls --color $PREFIX/bin
- cd ..


script:
- command -v lua
- lua hello.lua
- lua -e 'print("Hello World")'
- command -v luarocks
- luarocks install luasocket
- lua -e 'require "socket"'


after_script:
- cat /proc/loadavg
- echo $JOBS
# - ls -rtl $PKG_CONFIG_PATH

