language: c
sudo: true
compiler:
  - clang


env:
  global:
  - PREFIX=/tmp/local
  - INSTALL_TOP=$PREFIX
  # - PKG_CONFIG_PATH=$PREFIX/lib/pkgconfig
  - LUA_VERSION=lua-5.3.4
  - LUAROCKS_VERSION=luarocks-2.4.4
  # - PATH=$(pwd)/$LUA_VERSION/src:$PATH
  # - PATH=$PREFIX/bin:/home/travis/build/travis-util/lua-building/$LUA_VERSION/install/bin:$PATH


addons:
  apt:
    packages:
    - elinks # For dysplaying readme.html
    - libfcgi-dev


before_install:
- pwd
- make --version # Waiting for version 4.0 to be able to use --output-sync=recurse
# https://www.gnu.org/software/make/manual/html_node/Parallel-Output.html
- pip install --user psutil
- JOBS="$(python -c 'import psutil ; print len(psutil.Process().cpu_affinity())')" # 2 jobs at a time in make


install:
- wget --quiet https://www.lua.org/ftp/$LUA_VERSION.tar.gz
- tar --gzip --extract --file=$LUA_VERSION.tar.gz
- cd $LUA_VERSION
- ls --color
- cat README
- cat Makefile
- cat $(find . -name luaconf.h)
- elinks -dump-color-mode 4 -dump doc/readme.html
- make linux --jobs=$JOBS && make test --jobs=$JOBS && sudo make install #  INSTALL_TOP=$PREFIX
- ls --color
# - find $PREFIX -name lua
- find /usr/local -name lua
- cd ..

- wget --quiet https://luarocks.org/releases/$LUAROCKS_VERSION.tar.gz
- tar --gzip --extract --file=$LUAROCKS_VERSION.tar.gz
- cd $LUAROCKS_VERSION
- ls --color
- ./configure --help
- ./configure # --prefix=$PREFIX
# - make build && make install
- sudo make bootstrap
# --jobs=$JOBS
# - ls --color $PREFIX
# - ls --color $PREFIX/bin
- find /usr/local -name luarocks
- cd ..


script:
- command -v lua
- lua hello.lua
- lua -e 'print("Hello World")'
- command -v luarocks
- sudo -H luarocks install luasocket
# Error: Your user does not have write permissions in /usr/local/lib/luarocks/rocks 
# -- you may want to run as a privileged user or use your local tree with --local.
- find /usr/local -name socket.lua
- lua -e 'require "socket"'
- sudo -H luarocks install wsapi
- lua -e 'require "wsapi"'
- sudo -H luarocks install wsapi-xavante
- lua -e 'require "wsapi.xavante"'
- apt-cache policy libfcgi-dev
- apt-cache policy libfcgi0ldbl
- sudo -H luarocks install wsapi-fastcgi
- lua -e 'require "wsapi.fastcgi"'


after_script:
- lua --help
- luac
- luarocks
- luarocks help path
- cat /proc/loadavg
- echo $JOBS
# - ls -rtl $PKG_CONFIG_PATH

